{% extends "layouts/module_admin.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="Dasboard">{{ _('Dashboard')}}</a></li>
{% endblock %}
{% block module %}
<h2>{{ _('Dashboard')}}</h2>
<p>{{ _('Use path "<a href="/index">/index</a>" for user home page') | safe}}</p>
<h2>{{ _('Settings')}}</h2>
<form method="POST">
    <!-- Поля формы -->
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <label class="form-label">{{ _('Group objects') }}</label>
        {{ form.group(class="form-check-input") }}
    </div>
    <button type="submit" class="btn btn-primary">{{ _('Save')}}</button>
</form>
{% endblock %}